.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1{
  text-align: center;
  font-weight: bold;
  
}
body{
  background-image: linear-gradient(to bottom, skyblue ,red );
  height: 800px;
}
button{
  height: 100px;
  width: 400px;
  border-radius: 30px;
  background-color: aquamarine;
  font-size: 18px;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 220px;
  cursor: pointer;
  
}
button:hover{
  background-color: lightblue
}
.box{
  height: 350px;
  width: 600px;
  border: 1px solid black;
  text-align: center;
  /* margin-top: 40px;
  margin-left: 150px; */
  background-color: aqua;
  border-radius: 20px;
  display: inline-block;
}
.paragraph{
  color: black;
  font-weight: bold;
}
.box1{
  height: 350px;
  width: 600px;
  border: 1px solid black;
  text-align: center;
  /* margin-bottom: 800px;
  margin-left: 800px; */
  background-color: purple;
  border-radius: 20px;
}
.parent_box{
  display: flex;
  margin: 40px;
  justify-content: center;
  gap: 50px;
}